In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
df = pd.read_csv('full_data.csv' )
# df1 = pd.read_csv('test.csv')
# df2 = pd.read_csv('sample_submission.csv')
#genome_full = pd.read_csv('genome_full.csv')
genome_scores = pd.read_csv('genome_scores.csv')

In [14]:
df.head(5)

,userId,movieId,rating,title,genres,title_cast,director,runtime,plot_keywords
0,5163,57669,4.0,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
1,87388,57669,3.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
2,137050,57669,4.0,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
3,120490,57669,4.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
4,50616,57669,4.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman

In [13]:
df.shape

(6972064, 9)

In [11]:
genome_scores.shape

(15584448, 3)

In [ ]:
test_full = df.merge(df1, how = 'inner' , on = 'userId')

In [ ]:
df1.head(
)

In [ ]:
genome_full.shape

In [ ]:
genome_scores.head(1)

In [ ]:
full_data = df.merge(genome_scores, how= 'inner', on = 'movieId')

In [ ]:
full_data.head()

In [ ]:
full_data.shape

In [ ]:
full_data = full_data.dropna()

In [ ]:
genome_fullfull_data.shape

In [ ]:
genome_full.to_csv('genome_full.csv' , index=False)

In [ ]:
cleaned = df

In [ ]:
low_ratings = [r for r in df['rating'] if r==1]

In [ ]:
low_rating = [r for r in df['userId'] if r == 136395]

In [ ]:
non_rating = df.groupby('userId')[['rating']].count().sort_values(by = 'rating')

In [ ]:
non_rating

In [3]:
df.head()

,userId,movieId,rating,title,genres,title_cast,director,runtime,plot_keywords
0,5163,57669,4.0,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
1,87388,57669,3.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
2,137050,57669,4.0,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
3,120490,57669,4.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman
4,50616,57669,4.5,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,dwarf|bruges|irish|hitman

In [8]:
df.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6972064 entries, 0 to 6972063
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   userId         int64
 1   movieId        int64
 2   rating         float64
 3   title          object
 4   genres         object
 5   title_cast     object
 6   director       object
 7   runtime        float64
 8   plot_keywords  object
dtypes: float64(2), int64(2), object(5)
memory usage: 478.7+ MB

In [4]:
X = df
y = df['rating']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,  y_test = train_test_split(X, y , test_size=0.00001)

In [6]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [7]:
lm.fit(X_train, y_train)

ValueError: could not convert string to float: 'Kazaam (1996)'

In [ ]:
pred = lm.predict(df1)

In [ ]:
submission = df2[['Id']]
submission['rating'] = pred
submission.to_csv('submission.csv' , index=False)

In [ ]:
submission['rating'] = pred

In [ ]:
submission.head()

In [ ]:
submission.to_csv('submission.csv' , index=False)

In [ ]:
df1.shape

In [ ]:
df.head()

In [ ]:
df4 = df.drop(['rating' , 'timestamp'] , axis = 1)

In [ ]:
df4.shape

In [ ]:
df4

In [ ]:
# def standardize(row):
#     new_row = (row - row.mean())/(row.max() - row.min())
#     return new_row
# df4_std = df.apply(standardize)

In [ ]:
item_simi = cosine_similarity(df.T)

In [ ]:
print(item_simi)

In [ ]:
item_simi = pd.DataFrame(item_simi , columns = df.columns)

In [ ]:
item_simi

In [ ]:
import seaborn as sns
with sns.axes_style('white'):
    g = sns.factorplot("rating", data=df, aspect=2.0,kind='count')
    g.set_ylabels("Total number of ratings")
print (f'Average rating in dataset: {np.mean(df["rating"])}')

In [ ]:
df4.shape

In [ ]:
util_matrix = df.pivot_table(index=['userId'], 
                                       columns=['movieId'],
                                       values='rating') 
util_matrix.shape

In [ ]:
# Normalize each row (a given user's ratings) of the utility matrix
util_matrix_norm = util_matrix.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)
# Fill Nan values with 0's, transpose matrix, and drop users with no ratings
util_matrix_norm.fillna(0, inplace=True)
util_matrix_norm = util_matrix_norm.T
util_matrix_norm = util_matrix_norm.loc[:, (util_matrix_norm != 0).any(axis=0)]
# Save the utility matrix in scipy's sparse matrix format
util_matrix_sparse = sp.sparse.csr_matrix(util_matrix_norm.values)

In [ ]:
# Compute the similarity matrix using the cosine similarity metric
user_similarity = cosine_similarity(util_matrix_sparse.T)
# Save the matrix as a dataframe to allow for easier indexing  
user_sim_df = pd.DataFrame(user_similarity, 
                           index = util_matrix_norm.columns, 
                           columns = util_matrix_norm.columns)

# Review a small portion of the constructed similartiy matrix  
user_sim_df[:5]

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df.isnull().sum()